<h2>Модель валидная!</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Students")";
        }, 2000);
    })
</script>